In [1]:
import pandas as pd
import pymysql

## Sql connection

In [2]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='root',
                         db='test_ticker')


# create cursor
cursor=connection.cursor()

In [3]:
# Create dataframe
data = pd.DataFrame({
    'title':['Genetic Algoritms', 'Python for Finance', 'Machine Learning Intro'],
    'price':[16, 20, 19]
})

data

                    title  price
0       Genetic Algoritms     16
1      Python for Finance     20
2  Machine Learning Intro     19

In [4]:
def sql_insert(connection, cursor, table, cols, data):
    sql = f"INSERT INTO {table} ({cols}) VALUES (" + "%s,"*(len(data)-1) + "%s)"
    try:
        print(sql % data)
#         cursor.execute(sql, data)
    except Exception as e:
        print(e)
        return
#     connection.commit()

In [6]:
# Get col names, no need for ID, it's an autoincrement value
cols = ','.join([col for col in data.columns.to_list()])

# Insert values into DB, no need for ID value
for i,row in data.iterrows():
    sql_insert(connection, cursor, "test_table", cols, tuple(row))

INSERT INTO test_table (title,price) VALUES (Genetic Algoritms,16)
INSERT INTO test_table (title,price) VALUES (Python for Finance,20)
INSERT INTO test_table (title,price) VALUES (Machine Learning Intro,19)